In [1]:
import csv
import re
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math
import ast
%matplotlib inline

In [2]:
speeches1 = pd.read_csv("../data/speeches_87to90.csv", sep='\t', index_col=0)
speeches2 = pd.read_csv("../data/speeches_91to96.csv", sep='\t', index_col=0)
speeches3 = pd.read_csv("../data/speeches_97to00.csv", sep='\t', index_col=0)

In [3]:
speeches1

,year,speaker,speech,n_words
0,1387,جنتی,"['حضور', 'پرشور', 'مردم', 'در', 'راهپیمایی', '...",710
1,1387,یزدی,"['خطبه', 'اول', 'بسم', 'الله', 'الرحمن', 'الرح...",6265
2,1387,رفسنجانی23,"['خطبه', 'اول', 'بسم', 'الله', 'الرحمن', 'الرح...",6554
3,1387,جنتی,"['خطبه', 'اول', 'بسم', 'الله', 'الرحمن', 'الرح...",5334
4,1387,کاشانی,"['خطبه', 'اول', 'بسم', 'الله', 'الرحمن', 'الرح...",5312
...,...,...,...,...
114,1390,یزدی,"['بسم', 'الله', 'الرحمن', 'الرحیم', 'الحمد', '...",9197
115,1390,جنتی,"['بسم', 'الله', 'الرحمن', 'الرحیم', 'الحمد', '...",4930
116,1390,هاشمی,"['بسم', 'الله', 'الرحمن', 'الرحیم', 'الحمدلله'...",5267
117,1390,کاشانی,"['بسم', 'الله', 'الرحمن', 'الرحیم', 'الحمدالله...",3447
118,1390,یزدی,"['بسم', 'الله', 'الرحمن', 'الرحیم', 'الحمد', '...",6508

In [4]:
speeches2 = pd.concat([speeches2, speeches2], ignore_index=True)
speeches2

     year speaker                                             speech  n_words
0    1392   امامی  ['خطیب', 'نماز', 'جمعه', 'این', 'هفته', 'تهران...     1165
1    1392   موحدی  ['خطیب', 'موقت', 'نماز', 'جمعه', 'تهران', 'گفت...     1107
2    1392   امامی  ['خطیب', 'نماز', 'جمعه', 'این', 'هفته', 'تهران...      696
3    1392   امامی  ['خطیب', 'جمعه', 'این', 'هفته', 'تهران', 'با',...     1234
4    1392   خاتمی  ['خطیب', 'نماز', 'جمعه', 'این', 'هفته', 'تهران...     1212
..    ...     ...                                                ...      ...
143  1396   صدیقی  ['امام', 'جمعه', 'موقت', 'تهران', 'اظهار', 'کر...     1107
144  1396   صدیقی  ['خطیب', 'نماز', 'جمعه', 'این', 'هفته', 'تهران...      865
145  1396   خاتمی  ['خطیب', 'نماز', 'جمعه', 'این', 'هفته', 'تهران...     1216
146  1396   امامی  ['آیت', 'الله', 'امامی', 'کاشانی', 'گفت', 'بی'...      642
147  1396   صدیقی  ['حجت', 'الاسلام', 'والمسلمین', 'کاظم', 'صدیقی...      844

[148 rows x 4 columns]

In [5]:
speeches3

    year   speaker                                             speech  n_words
0   1398     اکبری  ['قال', 'الحکیم', 'فی', 'کتابه', 'الکریم', 'إِ...     3706
1   1398     اکبری  ['خطبه', 'اول', 'عِبادَ', 'اللهِ', 'اُوصیکُم',...     3950
2   1398     اکبری  ['عِبادَ', 'اللهِ', 'اُوصیکُم', 'وَنَفسی', 'بِ...     3050
3   1398     اکبری  ['عِبادَ', 'اللهِ', 'اُوصیکُم', 'وَنَفسی', 'بِ...     3202
4   1398     اکبری  ['خطبه', 'اول', 'قال', 'الحکیم', 'فی', 'کتابه'...     3065
..   ...       ...                                                ...      ...
73  1398     امامی  ['آمریکا', 'هیج', 'زمانی', 'همچون', 'امروز', '...      732
74  1397     امامی  ['خطیب', 'جمعه', 'تهران', 'با', 'وحدت', 'حوزه'...     1152
75  1397  ابوترابی  ['خطیب', 'نماز', 'جمعه', 'تهران', 'گسترش', 'عد...     1763
76  1397     موحدی  ['خطیب', 'جمعه', 'تهران', 'مسئولان', 'برای', '...     1209
77  1397     امامی  ['امام', 'جمعه', 'موقت', 'تهران', 'مثلث', 'شوم...     1298

[78 rows x 4 columns]

In [6]:
speeches = pd.concat([speeches1, speeches2, speeches3], ignore_index=True)

In [7]:
speeches = pd.concat([speeches, speeches[speeches['year']==1397]], ignore_index=True)
speeches = pd.concat([speeches, speeches[speeches['year']==1395]], ignore_index=True)
speeches = pd.concat([speeches, speeches[speeches['year']==1394]], ignore_index=True)

In [8]:
speeches.groupby('year').count()

      speaker  speech  n_words
year
1387        7       7        7
1388       36      36       36
1389       40      40       40
1390       36      36       36
1392       32      32       32
1393       34      34       34
1394       48      48       48
1395       52      52       52
1396       38      38       38
1397       34      34       34
1398       35      35       35
1400       20      20       20

In [9]:
stp_file = open("persian_stp.txt", "r")
stp_words = stp_file.read()
stp_words = stp_words.split("\n")
stp_file.close()
for i, w in enumerate(stp_words):
    stp_words[i] = re.sub('ی', 'ي', w)

In [10]:
def clean_word(w):
    stp_w_flag = False
    
    symbols = ['!','"','\#','\(','\)','\*',',','-','.',':','«','»','،',
               '؛','؟','۰','۱','۲','۳','۴','۵','۶','۷','۸','۹','…']
    for char in symbols:
        cleaned_w = re.sub(char, '', w)
    cleaned_w = re.sub('ی', 'ي', cleaned_w)
    cleaned_w = re.sub('‌', ' ', cleaned_w)
        
    if (cleaned_w in stp_words) or (len(cleaned_w) <= 2):
        stp_w_flag = True
        cleaned_w = ''

    
    return cleaned_w, stp_w_flag

In [11]:
def clean_speeches():
    for row_i in range(len(speeches)):
        speech = ast.literal_eval(speeches.at[row_i, 'speech'])
        cleaned_speech = []
        for word in speech:
            cleaned_word, stp_w_flag = clean_word(word)
            if not stp_w_flag:
                cleaned_speech.append(cleaned_word)
        speeches.at[row_i, 'speech'] = cleaned_speech

In [12]:
speaker_names = ['امامی','اکبری','ابوترابی','صدیقی', 'خاتمی', 'موحدی', 'جنتی', 'خامنه', 'یزدی', 'هاشمی']
for row_i in range(len(speeches)):
    speaker = speeches.at[row_i, 'speaker']
    found_flag = False
    if 'رفسنجانی' in speaker:
        speeches.at[row_i, 'speaker'] = 'هاشمی'
        found_flag = True
    if 'کاشان' in speaker:
        speeches.at[row_i, 'speaker'] = 'امامی'
        found_flag = True
    if 'رهبر' in speaker or 'حضرت' in speaker:
        speeches.at[row_i, 'speaker'] = 'خامنه'
        found_flag = True
    for name in speaker_names:
        if name in speaker:
            speeches.at[row_i, 'speaker'] = name
            found_flag = True
            continue
    if not found_flag:
        speeches.at[row_i, 'speaker'] = 'others'

In [13]:
clean_speeches()

In [14]:
speeches.tail()

     year speaker                                             speech  n_words
407  1394   موحدی  [خطيب, موقت, نماز, جمعه, تهران, بيان, اينکه, ک...     1264
408  1394   صدیقی  [خطيب, نماز, جمعه, تهران, تصريح, کرد, دانشگاه,...     1338
409  1394   موحدی  [آيت, الله, موحدي, کرماني, تأکيد, اينکه, مديري...     1047
410  1394   صدیقی  [خطيب, نماز, جمعه, هفته, تهران, ذات, جمهوري, ا...     1616
411  1394    جنتی  [آيت, الله, احمد, جنتي, برجام, تلقي, کنيم, بدا...     1249

In [15]:
speeches.to_csv('../data/cleaned_speeches.csv', sep='\t')