In [2]:
import csv
import re
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math
import ast
%matplotlib inline

In [3]:
speeches1 = pd.read_csv("../data/speeches_77to80.csv", sep='\t', index_col=0)
speeches2 = pd.read_csv("../data/speeches_91to96.csv", sep='\t', index_col=0)
speeches3 = pd.read_csv("../data/speeches_97to00.csv", sep='\t', index_col=0)

In [4]:
speeches1

,year,speaker,speech,n_words
0,1377,جنتی,"['-', 'حضور', 'پرشور', 'مردم', 'در', 'راهپیمای...",721
1,1377,یزدی,"['خطبه', 'اول', 'بسم', 'الله', 'الرحمن', 'الرح...",6305
2,1377,رفسنجانی23,"['خطبه', 'اول', 'بسم', 'الله', 'الرحمن', 'الرح...",6589
3,1377,جنتی,"['خطبه', 'اول.', 'بسم', 'الله', 'الرحمن', 'الر...",5311
4,1377,کاشانی,"['خطبه', 'اول', 'بسم', 'الله', 'الرحمن', 'الرح...",5317
...,...,...,...,...
114,1380,یزدی,"['بسم', 'الله', 'الرحمن', 'الرحیم', 'الحمد', '...",9231
115,1380,جنتی,"['بسم', 'الله', 'الرحمن', 'الرحیم', 'الحمد', '...",4940
116,1380,هاشمی,"['بسم', 'الله', 'الرحمن', 'الرحیم', 'الحمدلله'...",5246
117,1380,کاشانی,"['بسم', 'الله', 'الرحمن', 'الرحیم', 'الحمدالله...",3450
118,1380,یزدی,"['بسم', 'الله', 'الرحمن', 'الرحیم', 'الحمد', '...",6520

In [5]:
speeches2 = pd.concat([speeches2, speeches2], ignore_index=True)
speeches2

     year speaker                                             speech  n_words
0    1392   امامی  ['خطیب', 'نماز', 'جمعه', 'این', 'هفته', 'تهران...     1164
1    1392   امامی  ['خطیب', 'نماز', 'جمعه', 'این', 'هفته', 'تهران...      697
2    1392   صدیقی  ['خطیب', 'نماز', 'جمعه', 'این', 'هفته', 'تهران...     1208
3    1392   موحدی  ['امام', 'جمعه', 'ی', 'موقت', 'تهران', 'با', '...      930
4    1392   خاتمی  ['خطیب', 'نماز', 'جمعه', 'این', 'هفته', 'تهران...     1232
..    ...     ...                                                ...      ...
141  1396   خاتمی  ['خطیب', 'نماز', 'جمعه', 'این', 'هفته', 'تهران...     1219
142  1396   صدیقی  ['خطیب', 'نماز', 'جمعه', 'این', 'هفته', 'تهران...      872
143  1396   امامی  ['آیت', 'الله', 'امامی', 'کاشانی', 'گفت:', 'بی...      642
144  1396   صدیقی  ['امام', 'جمعه', 'موقت', 'تهران', 'اظهار', 'کر...     1109
145  1396   موحدی  ['حجت', 'الاسلام', 'والمسلمین', 'موحدی', 'کرما...      710

[146 rows x 4 columns]

In [6]:
speeches3

,year,speaker,speech,n_words
0,1398,اکبری,"['قال', 'الحکیم', 'فی', 'کتابه', 'الکریم:', '«...",3718
1,1398,اکبری,"['خطبه', 'اول', '«عِبادَ', 'اللهِ', 'اُوصیکُم'...",3960
2,1398,اکبری,"['«عِبادَ', 'اللهِ', 'اُوصیکُم', 'وَنَفسی', 'ب...",3050
3,1398,اکبری,"['«عِبادَ', 'اللهِ', 'اُوصیکُم', 'وَنَفسی', 'ب...",3209
4,1398,اکبری,"['خطبه', 'اول', 'قال', 'الحکیم', 'فی', 'کتابه'...",3078
...,...,...,...,...
105,1398,امامی,"['امام', 'جمعه', 'موقت', 'تهران', 'از', 'همه',...",1383
106,1397,امامی,"['خطیب', 'جمعه', 'تهران:', 'با', 'وحدت', 'حوزه...",1160
107,1397,ابوترابی,"['خطیب', 'نماز', 'جمعه', 'تهران:', 'گسترش', 'ع...",1753
108,1397,موحدی,"['خطیب', 'جمعه', 'تهران:', 'مسئولان', 'برای', ...",1217
109,1397,امامی,"['امام', 'جمعه', 'موقت', 'تهران', 'مثلث', 'شوم...",1277

In [7]:
speeches = pd.concat([speeches1, speeches2, speeches3], ignore_index=True)

In [8]:
speeches = pd.concat([speeches, speeches[speeches['year']==1397]], ignore_index=True)
speeches = pd.concat([speeches, speeches[speeches['year']==1395]], ignore_index=True)
speeches = pd.concat([speeches, speeches[speeches['year']==1394]], ignore_index=True)

In [9]:
speeches.groupby('year').count()

      speaker  speech  n_words
year
1377        7       7        7
1378       36      36       36
1379       40      40       40
1380       36      36       36
1392       32      32       32
1393       34      34       34
1394       48      48       48
1395       52      52       52
1396       34      34       34
1397       46      46       46
1398       52      52       52
1400       31      31       31

In [10]:
stp_file = open("persian_stp.txt", "r")
stp_words = stp_file.read()
stp_words = stp_words.split("\n")
stp_file.close()

In [11]:
def clean_word(w):
    stp_w_flag = False
    
    symbols = ['!','"','\#','\(','\)','\*',',','-','.',':','«','»','،',
               '؛','؟','۰','۱','۲','۳','۴','۵','۶','۷','۸','۹','…', 'ی']
    for char in symbols:
        cleaned_w = re.sub(char, '', w)
        
    if w in stp_words:
        stp_w_flag = True
        cleaned_w = ''
    
    return cleaned_w, stp_w_flag

In [12]:
def clean_speeches():
    for row_i in range(len(speeches)):
        speech = ast.literal_eval(speeches.at[row_i, 'speech'])
        cleaned_speech = []
        for word in speech:
            cleaned_word, stp_w_flag = clean_word(word)
            if not stp_w_flag:
                cleaned_speech.append(cleaned_word)
        speeches.at[row_i, 'speech'] = cleaned_speech

In [13]:
clean_speeches()

In [17]:
speeches.tail()

     year speaker                                             speech  n_words
443  1394   موحدی  [خطب, موقت, نماز, جمعه, تهران, بان, انکه, کلد,...     1266
444  1394   صدیقی  [خطب, نماز, جمعه, تهران, تصرح, کرد, دانشگاه, ب...     1341
445  1394   صدیقی  [خطب, نماز, جمعه, ان, هفته, تهران, گفت:, ذات, ...     1630
446  1394    جنتی  [آت, الله, احمد, جنت, گفت:, باد, برجام, تلق, ک...     1256
447  1394   موحدی  [آت, الله, موحد, کرمان, تأکد, انکه, باد, برا, ...     1050

In [16]:
speeches.to_csv('../data/cleaned_speeches.csv', sep='\t')